{% extends "base.html" %} 

{% block title %}{{ flowerpot.name }} - Details{% endblock %} 

{% block content %}

<div class="card-fp-details">
  <table>
    <thead>
      <tr>
        <th style="padding-bottom: 20px;" colspan="3">{{flowerpot.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-weight: bold">🌡️ Temperature:</td>
        <td class="info-card-env-data">{{ flowerpot.environment_data.first.temperature }}</td>
        <td>STATUS</td>
      </tr>
      <tr>
        <td style="font-weight: bold">💧 Moisture:</td>
        <td class="info-card-env-data">{{ flowerpot.environment_data.first.moisture }}</td>
        <td>STATUS</td>
      </tr>
      <tr>
        <td style="font-weight: bold">💦 Humidity:</td>
        <td class="info-card-env-data">{{ flowerpot.environment_data.first.humidity }}</td>
        <td>STATUS</td>
      </tr>
      <tr>
        <td colspan="1">Location:</td>
        <td class="info-card-desc-loc" colspan="2">{{ flowerpot.location }}</td>
      </tr>
      <tr class="info-card-desc-loc">
        <td colspan="1">Description:</td>
        <td class="info-card-desc-loc" colspan="2">{{ flowerpot.description }}</td>
      </tr>
    </tbody>
    <caption class="caption">
      Recorded at: {{ flowerpot.updated_at }}
    </caption>
  </table>
</div>

<div class="threshold-div">
  <form method="post">
    {% csrf_token %}
    <label>Change threshold:</label>
    <input required type="number" min="0" max="100">
    <button>Change!</button>
  </form>
</div>

<div class="grid-container">
    <div class="grid-item">
        <canvas></canvas>
    </div>
    <div class="grid-item">
        <canvas></canvas>
    </div>
    <div class="grid-item">
        <canvas></canvas>
    </div>  
    <div class="grid-item">
        <canvas></canvas>
    </div>
    <div class="grid-item">
        <canvas></canvas>
    </div>
</div>

<script>

</script>
{% endblock %}
