{% extends "base.html" %} 

{% block title %}{{ flowerpot.name }} - Details{% endblock %} 

{% block content %}

<div class="card-fp-details">
  <table>
    <thead>
      <tr>
        <th colspan="3">{{flowerpot.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-weight: bold">🌡️ Temperature:</td>
        <td style="font-size: 35px">22</td>
        <td>STATUS</td>
      </tr>
      <tr>
        <td style="font-weight: bold">💧 Moisture:</td>
        <td style="font-size: 35px">22</td>
        <td>STATUS</td>
      </tr>
      <tr>
        <td style="font-weight: bold">🧪 ph Level:</td>
        <td style="font-size: 35px">22</td>
        <td>STATUS</td>
      </tr>
      <tr>
        <td style="font-weight: bold">🌞 Light Level:</td>
        <td style="font-size: 35px">22</td>
        <td>STATUS</td>
      </tr>
      <tr>
        <td style="font-weight: bold">💦 Humidity:</td>
        <td style="font-size: 35px">22</td>
        <td>STATUS</td>
      </tr>
      <tr>
        <td colspan="1">Location:</td>
        <td colspan="2">Basement</td>
      </tr>
      <tr>
        <td colspan="1">Description:</td>
        <td colspan="2">Pelargonia</td>
      </tr>
    </tbody>
    <caption style="caption-side: bottom; font-size: 20px; font-style: italic">
      Recorded at: Nov. 6, 2024, 9:38 a.m.
    </caption>
  </table>
</div>
<div class="grid-container">
    <div class="grid-item">
        <canvas></canvas>
    </div>
    <div class="grid-item">
        <canvas></canvas>
    </div>
    <div class="grid-item">
        <canvas></canvas>
    </div>  
    <div class="grid-item">
        <canvas></canvas>
    </div>
    <div class="grid-item">
        <canvas></canvas>
    </div>
</div>

{% endblock %}
