body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#7FC346, #132013);
  font-family: 'Goudy Bookletter 1911';
  font-size: 22px;
}

main {
  flex: 1;
}

hr {
  width: 100%;
}

footer {
  color: white;
  width: 100%;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

table {
  margin: auto; 
  width: 70%; 
  border-collapse: separate; 
  border-spacing: 10px; 
}

.flowersummary {
  display: flex;
  justify-content: space-between; 
  border: 2px solid #000;
  border-radius: 15px;
  padding: 10px;
  background-color: #DEDCB5;
  color: black;
}

.login {
  background-color: #DEDCB5;
  border: 2px solid #000;
  border-radius: 20px; 
  padding: 10px; 
  color:#000;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.login-button{
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.register {
  background-color: #DEDCB5;
  border: 2px solid #000;
  border-radius: 20px; 
  padding: 10px; 
  color:#000;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.register-button{
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.logout-button{
  font-size: 22px;
  background-color: #DEDCB5;
  border-radius: 10px;
  border: 2px solid black;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button{
  all: unset; 
  cursor: pointer;
  font-size: 70px;
  padding: 15px 5px; 
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

.card-fp-details{
  padding-top: 20px;
}

.card-fp-details table{
  border-radius: 20px;
  border: 4px solid black;
  background-color: #DEDCB5;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.card-fp-details th{
  font-size: 45px;
}

.card-fp-details td{
  text-align: center;
  font-size: 25px;
}

.grid-container{
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 70px;
  row-gap: 40px;
}

.grid-item {
  border-radius: 20px;
  border: 4px solid black;
  background-color: #DEDCB5;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
